@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root {
  --font-outfit: "Outfit", Helvetica, Helvetica Neue, Arial, Roboto, sans-serif;
  --font-inter: "Inter", Helvetica, Helvetica Neue, Arial, Roboto, sans-serif;
  --font-pacifico: "Pacifico", Helvetica, Helvetica Neue, Arial, Roboto, sans-serif;
  --font-caveat: "Caveat", Helvetica, Helvetica Neue, Arial, Roboto, sans-serif;
  --light-blue: #fafdff;
  --medium-blue: rgb(99 102 241);
  --dark-blue: #005064;
  --dark-neutral: #59596a;
  --light-gray: #8484a2;
  --red: #BA151B;
  --yellow: #FFF200;
  --body-text: #334155;
}

* {
  -webkit-font-smoothing: antialiased;
}

.date a {
  color: var(--red);
  text-decoration: none;
}

a {
  font-weight: 600;
  border-bottom: 1.5px solid var(--red);
}

a:hover {
  color: #000;
  border-color: #000;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-outfit);
  color: var(--body-text);
  background: #fffbf6;
}

.color-bar {
  width: 100%;
  height: 4px;
  background: -webkit-linear-gradient(right, var(--yellow), var(--red));
}

.date {
  padding: 24px 28px;
  margin: 16px 12px;
  background: #fff;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid #f1e3d6;
  border-radius: 4px;
}

.date-header {
  margin: 0;
  padding: 0 0 16px 0;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -2px;
  font-family: var(--font-caveat);
  background: -webkit-linear-gradient(var(--yellow), var(--red));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.date-section {
  padding: 0;
  margin: 0;
}

.date-section h3,
.date-welcome-message {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
}

.date-section h3 {
  padding: 16px 0 0 0;
}

.date-welcome-message {
  font-size: 20px;
  color: var(--red);
  font-weight: 800;
}

.standalone {
  margin-top: 4px;
  padding-bottom: 16px;
}

.date-highlight {
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 26px;
}

p {
  line-height: 26px;
}

.date-highlight a {
    font-weight: 600;
    color: var(--red);
    text-decoration: none;
    
}

.date-list a {
  font-weight: 700;
  color: var(--red);
  text-decoration: none;
}

.date-list {
  padding: 0;
  list-style-type: none;
}

.date-list li {
  padding: 2px 0;
}

hr {
  height: 1px;
  border: 1px dashed #f1e3d6;
  margin: 16px 0 24px 0;
}

.page-header {
  width: 100%;
  text-align: center;
  padding-bottom: 32px;
}

.page-header h1{
  font-family: var(--font-caveat);
  font-size: 56px;
  padding: 32px 0 0 0;
  margin: 0;
  line-height: 48px;
}

.page-header h2 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 16px;
}

.note {
  color: var(--dark-neutral);
  line-height: 20px;
  font-size: 14px;
  border-left: 3px solid var(--dark-neutral);
  padding-left: 8px;
  font-style: italic;
}