@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --outfit: "Outfit";
  --pacifico: "Pacifico";
  --light-blue: #fafdff;
  --medium-blue: rgb(99 102 241);
  --dark-blue: #005064;
  --dark-neutral: #59596a;
  --light-gray: #8484a2;
  --red: #BA151B;
  --yellow: #FFF200;
}

* {
  font-family: var(--outfit);
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #f8f5f3;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 0rem;
  padding: 0.8rem;
}

.container > section {
  width: 100%;
}

.location {
  margin-bottom: 0.8rem;
  padding: 1.8rem 2rem;
  background: #fdfaf8;
  border: 1px solid #efe8e3;;
}

.location figcaption {
  padding-bottom: 0.75rem;
  padding-top: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 900;
  color: #411c0f;
}

.location figure {
  margin: 0;
  padding-bottom: 1rem;
  font-family: var(--outfit);
  font-size: 1rem;
  font-weight: 300;
  color: #411c0f;
}
.location figure:last-child {
  margin: 0;
  padding-bottom: 0;
}


.location figure a {
  font-size: 1rem;
  color: var(--red);
}

.location figure a:hover {
  color: #000;
}

.location h1 {
  font-family: var(--pacifico);
  padding-bottom: 1.6rem;
  margin-top: 0;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--dark-neutral);
  background: linear-gradient(var(--red), var(--yellow));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tag {
  padding-bottom: 0.25rem !important;
  padding: 0.25rem 0.8rem;
  max-width: fit-content;
  background: var(--light-gray);
  color: #fff;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border-radius: 1rem;
}

.highlight {
  padding-bottom: 0.65rem;
}

a.heading-link {
  color: var(--medium-blue);
}

a.location-highlight {
  font-weight: 700;
}